<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muan.takeout">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- uses-permission android:name="android.permission.READ_SMS" / -->
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".TakeoutApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.MessageActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegistActivity" />
        <activity android:name=".Activity.AllRecordActivity" />
        <activity android:name=".Activity.BuyRecordActivity" />
        <activity android:name=".Activity.RedgrabActivity" />
        <activity android:name=".Activity.ChargeRecordActivity" />
        <activity android:name=".Activity.ChargeActivity" />
        <activity android:name=".Activity.LuckyRecodActivity" />
        <activity android:name=".Activity.MultiActivity" />
        <activity android:name=".Activity.SDActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.UserInfoActivity" />
        <activity android:name=".Activity.AddressActivity" />
        <activity android:name=".Activity.AddressUpdataActivity" />
    </application>

</manifest>
